div {
    width: 100px;
    height: 100px;
    background-color: red;
}

#modeImg {
    height: 30px;
    border-radius: 100%;
    background-color: black;
}

#mode {
    padding: 0px;
    border: 0px;
    border-radius: 100%;
    background-color: black;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}
